<ion-card>
  <ion-row>
    <ion-col col-10>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/svg/vacina.svg" height=10>
        </ion-avatar>
        <h2>Protocolo Teste</h2>
        <h3>Protocolo Sanitário</h3>
      </ion-item>
    </ion-col>
    <ion-col col-2>
      <img class="edit" src="assets/svg/edit.svg" height=20>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <button class="buttonExecute" ion-button icon-left clear small>     
        <div>Executar protocolo</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>


