<ion-card>
  <ion-row>
    <ion-col col-11>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/svg/gtaBlue.svg">
        </ion-avatar>
        <h2>231232412</h2>
        <ion-note>04/04/2017</ion-note>
      </ion-item>
    </ion-col>
    <ion-col col-1>
      <img class="tipoGta" src="{{tipoGTAICone}}" alt="" height="50" width="50">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-8 class="fazenda">
      <p><span><b>Origem:</b></span>{{fazendaOrigem}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="fazenda" col-8>
      <p><span><b>Destino:</b></span>{{fazendaDestino}}</p>
    </ion-col>
    <ion-col col-4>
      <button class="editar" ion-button icon-left clear small>
        <ion-icon name="md-create"></ion-icon>
        <div>Editar</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>



<!--
<ion-card>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/svg/gtaBlue.svg">
        </ion-avatar>
        <h2>231232412</h2>
        <ion-note>04/04/2017</ion-note>
      </ion-item>
    </ion-col>
    <ion-col>
      <img src="{{tipoGTAICone}}" alt="" height="40">
    </ion-col>
  </ion-row>

  <div class="content">
    <p><span><b>Origem:</b></span>{{fazendaOrigem}}</p>
    <p><span><b>Destino:</b></span>{{fazendaDestino}}</p>
  </div>-->


<!--
<ion-row>
  <ion-col>

  </ion-col>
  <ion-col></ion-col>
  <ion-col>
    <button class="editar" ion-button icon-left clear small>
        <ion-icon name="md-create"></ion-icon>
        <div>Editar</div>
      </button>
  </ion-col>
</ion-row>

</ion-card>
-->
