.scroll-content {
  padding-bottom: 0!important;
}

.fab {
  right: 50px;
  bottom: 60px;
  opacity: 0.8;
  position: fixed;
}

.headerTitle {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.contentRotina {
  margin-top: 50px;
}

.titulo {
  min-height: 40px;
  max-height: 40px;
  text-align: center;
  font-size: 18px;
}

.padding-min {
  padding: 5px;
}

.menu {
  background-color: #111c29;
}

img.logoMenu {
  position: absolute;
  bottom: 35px;
  margin-left: 0px;
}

.infoUser {
  margin-left: 30px;
  position: relative;
  bottom: 20px;
  color: white;
}

.menuHeader {
  height: 100px;
}

#botaoMenu {
  position: absolute;
  right: 5px;
  bottom: 60px;
}

.nomeLabel {
  font-size: 16px;
  position: absolute;
  top: 13px;
}

.cargoLabel {
  position: absolute;
  font-size: 12px;
  top: 45px!important;
}

.line-menu {
  margin-left: 8%;
  width: 92%;
  height: 2px;
  /* background-color: rgb(16, 89, 130);*/
  background-color: white;
}

.botao {
  min-height: 45px;
  margin-top: 20px;
  box-shadow: 0px 6px 10px #999999 !important;
}
