<ion-card>
  <ion-row>
    <ion-col col-10>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/svg/venda.svg" height=10>
        </ion-avatar>
        <h2>Venda Teste</h2>
        <p><span><b>Origem:</b></span> Fazenda A</p>
        <p><span><b>Destino:</b></span> Fazenda B</p>
        <ion-note>Animais: 0/5</ion-note>
      </ion-item>
    </ion-col>
    <ion-col col-2>
      <img class="edit" src="assets/svg/edit.svg" height=20>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12></ion-col>
  </ion-row>
  <!-- <div class="fazendas">
    <p><span><b>Origem:</b></span> Fazenda A</p>
    <p><span><b>Destino:</b></span> Fazenda B</p>
  </div>-->
  <ion-row>
    <ion-col col-12>
      <button class="buttonExecute" ion-button icon-left clear small>     
        <div>Executar Rotina de Venda</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
