title-page-menu-fazenda-selecao {
  .menu {
    background-color: gray;
    width: 100% !important;
    height: 20px !important;
    position: absolute;
    vertical-align: center;
    text-align: left !important;
    top: 0px;
  }
  .titulo {
    font-size: 10px !important;
    text-align: left !important;
  }
  .fixed {
    position: fixed;
    left: 0px;
    top: 55px;
  }
}
