item-rotina {
.card{
    margin-top: 15px;
}
    
 .logo {
     margin-top: 0px;
 }

 h2{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 16px !important;
     padding-top: 5px;
 }
 .enter {
     margin-top: 7px;
 }
}
