<ion-card class="card">
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img class="logo" src="{{icone}}" alt="" height="30">
      </ion-col>
      <ion-col col-7>
        <h2>{{label}}</h2>
      </ion-col>
      <ion-col col-2>
        <img class="enter" src="assets/svg/enter.svg" alt="" height="20">
      </ion-col>
    </ion-row>

  </ion-grid>



  <!--  <ion-row>
    <ion-col><img src="assets/svg/repeat.svg" alt="" height="30"></ion-col>
    <ion-col>
      <h2>{{label}}</h2>
    </ion-col>
    <ion-col></ion-col>
    <ion-col><img src="assets/svg/enter.svg" alt="" height="20"></ion-col>
  </ion-row>-->
</ion-card>
